
.movieslist{

    width: 500px;
    margin:3rem auto;
 background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,116,162,1) 20%, rgba(0,212,255,1) 100%); 
  
    height:max-content;
   padding: 15px;
    border-radius: 12px; 
 
 
 }